body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  background-image: url('/public/assets/home/background-image2.png');
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}


.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(67, 25, 25, 0.692);
  padding: 20px;
  border-radius: 15px;
  margin: 20px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 10px;
}

.unifil {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.unifil h2 {
  color: white;
  font-family: dotgothic;
}

.logo-worldSlasher {
  width: 700px;
}


.content h3 {
  color: white;
  font-size: 2rem;
  text-align: center;
  font-family: dotgothic;
}

.button-link {
  text-decoration: none;
  border: none;
  /* cor da escrita */
  color: white;
  font-family: dotgothic;
  font-size: 2rem;

}

button {
  background-color: red;
  text-decoration: none;
  border: none;
  padding: 15px 25px;
  border-radius: 15px;
  font-size: 2rem;
}

@font-face {
  font-family: dotgothic;
  src: url("assets/fonts/zai_TributeToCaselli'sPantelegraph.ttf");
}