:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --dkClr: #181818;
  --liClr: whitesmoke;
  --accClr: #0D0D35;
}

body{
  margin: 0;
  padding: 0;
  background-color: var(--dkClr);
  color: var(--liClr);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

#gameDiv{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  z-index: 1;
}

canvas {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}